/*Estilo general*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 12px;
}

/*Header*/

header {
    background-color: #EAC926;
    width: 100%;
    margin: auto;
}

div.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

header div.logo {
    width: 44%;
}

form.search-box {
    width: 44%;
    align-self: center;
    text-align: center;
    position: relative;
}

form.search-box input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 8px;
    border: 0px solid white;
}

form.search-box button {
    width: 10%;
    background-color: white;
    color: #666;
    border: 0px;
    position: absolute;
    right: 1px;
    bottom: -10px;
}

.cuotas {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}

.navbar-site {
    list-style: none;
    padding: 0;
    display: none;
}

.navbar-site li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.navbar-user {
    list-style: none;
    padding: 0;
    display: none;
}

.navbar-user li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#burger-menu {
    display: flex;
    justify-content: center;
}

#burger-menu i {
    background-color: #0841a3;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    font-size: 20px;
    margin: 8px 50%;
    padding: 8px;
}

section.banner img {
    width: 100%;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

main h1 {
    margin: 10px 0px 30px 0px;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

main form input {
    border: 0px;
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    width: 100%;
}

.label {
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    align-self: flex-start;
}

.profile-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.interests-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.interests-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-content: baseline;
    flex-wrap: nowrap;
    width: 100%;
}

input#interests {
    width: 10%;
}

form button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: 0px;
    border-radius: 4px;
    background-color: #1259c3;
    color: white;
}

form a {
    width: 100%;
    height: 100%;
    border: 0px;
}

/*Footer*/

footer {
    background-color: white;
    text-align: center;
    color: #666;
    width: 100%;
    margin: auto;
}

section.footer-text {
    margin: 20px;
    padding: 10px;
}

section.footer-text h3 {
    margin-top: 10px;
}

#icon-ft {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

#copyright {
    text-align: left;
    padding: 10px;
}

/*Breakpoints*/
@media (min-width: 361px) {
    div.top-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    header div.logo {
        width: 25%;
    }

    form.search-box {
        width: 25%;
        align-self: center;
        text-align: center;
        position: relative;
    }

    .cuotas {
        width: 25%;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .navbar-site {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .navbar-user {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    #burger-menu {
        text-align: center;
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    main h1 {
        margin: 10px 0px 30px 0px;
    }

    main form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-bottom: 30px;
    }

    main form input {
        border: 0px;
        margin: 15px;
        padding: 5px;
        border-radius: 4px;
        text-align: left;
        width: 100%;
    }

    .label {
        margin-top: 20px;
        text-align: left;
        font-weight: bold;
        align-self: flex-start;
    }

    .profile-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }

    .interests-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .interests-box div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        justify-content: baseline;
        flex-wrap: nowrap;
        width: 100%;
    }

    input#interests {
        width: 10%;
    }

    form button {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        border: 0px;
        border-radius: 4px;
        background-color: #1259c3;
        color: white;
    }

    form a {
        width: 100%;
        height: 100%;
        border: 0px;
    }
}

@media (min-width: 769px) {
    div.top-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    header div.logo {
        width: 25%;
    }

    form.search-box {
        width: 25%;
        align-self: center;
        text-align: center;
        position: relative;
    }

    .cuotas {
        width: 25%;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .navbar-site {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .navbar-user {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    #burger-menu {
        text-align: center;
        display: none;
    }

    footer {
        background-color: white;
        text-align: center;
        color: #666;
        display: flex;
    }
    
    section.footer-text {
        margin: 20px;
        padding: 10px;
    }
    
    section.footer-text h3 {
        margin-top: 10px;
    }
    
    #icon-ft {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    #icon-ft:hover {
        transition: all 450ms;
        color: #EAC926;
    }

    #copyright {
        text-align: left;
        padding: 10px;
        background-color: white;
    }
}